<!-- ------------------------------------------------------------- -->
<!-- Breadcrumbs -->
<div class="theme--blue">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#"></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__last__parent">
      <span class="breadcrumbs__last">Overview</span>
    </li>
    <li class="breadcrumbs__item envButton">
      <div class="dropdown">
        <button role="button" type="button" class="env-button overflow-ellipses"><span id="env-button-text">PROD</span></button>
        <div class="drop-content">
          <a name="prod" href="#">PROD</a>
          <a name="add-env" href="#" onclick="navToAddEnv()">Manage...</a>
        </div>
      </div>
    </li>
  </ul>
</div>