<!-- ------------------------------------------------------------- -->
<!-- Navigation Bar -->
<!-- Contains links to tools, reports, dashboards, artifacts -->
<div class="nav has-no-secondary">
  <a class="nav__brand" href="https://www.dynatrace.com">
    <img class="nav__logo" src="http://assets.dynatrace.com/global/logos/dynatrace-logo.svg" alt="dynatrace logo"/>
  </a>
  <div class="nav__buttongroup">
    <button id="nav-bar-button" data-target="#nav-bar" class="nav__btn nav__btn--menutoggle">Menu</button>
    <button id="nav-bar-button-mobile" data-target="#nav-bar-mobile" class="nav__btn nav__btn--menutoggle">Menu</button>
  </div>
  <!-- Desktop Navbar -->
  <nav id="nav-bar" class="nav__bar">
    <ul class="nav__list nav__list--primary">
      <!-- Home -->
      <li class="nav__item">
        <a class="nav__link" href="/">Home</a>
      </li>
      <!-- Summary -->
      <li class="nav__item">
        <a class="nav__link" href="summary">Summary</a>
      </li>
      <!-- Tools -->
      <li class="nav__item">
        <a class="nav__link" href="tools">Tools</a>
      </li>
      <!-- Reports -->
      <li class="nav__item">
        <a class="nav__link" href="reports">Reports</a>
      </li>
      <!-- Dashboards -->
      <li class="nav__item">
        <a class="nav__link" href="dashboards">Dashboards</a>
      </li>
      <!-- Artifacts -->
      <li class="nav__item">
        <a class="nav__link" href="artifacts">Artifacts</a>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navbar -->
  <nav id="nav-bar-mobile" class="nav__bar">
    <ul class="nav__list nav__list--primary">
      <!-- Home -->
      <li class="nav__item">
        <a class="nav__link" href="/">Home</a>
      </li>
      <!-- Summary -->
      <li class="nav__item">
        <a class="nav__link" href="summary">Summary</a>
      </li>
      <!-- Tools -->
      <li class="nav__item expandable expandable--nav">
        <a class="nav__link expandable__trigger" href="#">Tools</a>
        <ul class="nav__list nav__list--secondary expandable__content">
          <li class="nav__item">
            <a name="overview" class="nav__link" href="tools#overview">Overview</a>
          </li>
          <li class="nav__item">
            <a name="tag-duplicator" class="nav__link" href="tools#tag-duplicator">Tag Duplicator</a>
          </li>
          <li class="nav__item">
            <a name="business-hour-kpis" class="nav__link" href="tools#business-hour-kpis">Business Hour KPIs</a>
          </li>
          <li class="nav__item">
            <a name="starter-tags" class="nav__link" href="tools#starter-tags">Starter Tags</a>
          </li>
          <li class="nav__item">
            <a name="dashboard-mover" class="nav__link" href="tools#dashboard-mover">Dashboard Mover</a>
          </li>
        </ul>
      </li>
      </li>
      <!-- Reports -->
      <li class="nav__item expandable expandable--nav">
        <a class="nav__link expandable__trigger" href="#">Reports</a>
        <ul class="nav__list nav__list--secondary expandable__content">
          <li class="nav__item">
            <a name="overview" class="nav__link" href="reports#overview">Overview</a>
          </li>
          <li class="nav__item">
            <a name="root-cause-analysis" class="nav__link" href="reports#root-cause-analysis">Root Cause Analysis+</a>
          </li>
          <li class="nav__item">
            <a name="problem-trending" class="nav__link" href="reports#problem-trending">Problem Trending</a>
          </li>
          <li class="nav__item">
            <a name="untagged-entities" class="nav__link" href="reports#untagged-entities">Untagged Entities</a>
          </li>
          <li class="nav__item">
            <a name="hosts" class="nav__link" href="reports#hosts">Hosts Report</a>
          </li>
          <li class="nav__item">
            <a name="applications" class="nav__link" href="reports#applications">Applications Report</a>
          </li>
          <li class="nav__item">
            <a name="problems" class="nav__link" href="reports#problems">Problems Report</a>
          </li>
          <li class="nav__item">
            <a name="services" class="nav__link" href="reports#services">Services Report</a>
          </li>
          <li class="nav__item">
            <a name="audit-users" class="nav__link" href="reports#audit-users">Audit Users</a>
          </li>
        </ul>
      </li>
      <!-- Dashboards -->
      <li class="nav__item expandable expandable--nav is-current">
        <a class="nav__link expandable__trigger" href="#">Dashboards</a>
        <ul class="nav__list nav__list--secondary expandable__content">
          <li class="nav__item">
            <a name="overview" class="nav__link" href="dashboards#overview">Overview</a>
          </li>
          <li class="nav__item">
            <a name="bizops-configurator" class="nav__link" href="dashboards#bizops-configurator">BizOps Configurator</a>
          </li>
          <li class="nav__item">
            <a name="browse-dashboards" class="nav__link" href="dashboards#browse-dashboards">Browse Dashboards</a>
          </li>
        </ul>
      </li>
      <!-- Artifacts -->
      <li class="nav__item expandable expandable--nav">
        <a class="nav__link expandable__trigger" href="#">Artifacts</a>
        <ul class="nav__list nav__list--secondary expandable__content">
          <li class="nav__item">
            <a name="Document Repository" class="nav__link" href="artifacts#doc-repo">Document Repository</a>
          </li>
          <li class="nav__item">
            <a name="Guardian Weekly Report" class="nav__link" href="artifacts#gwr">Guardian Weekly Report</a>
          </li>
          <li class="nav__item">
            <a name="Quarterly Business Report" class="nav__link" href="artifacts#qbr">Quarterly Business Report</a>
          </li>
          <li class="nav__item">
            <a name="On-Demand Deliverable" class="nav__link" href="artifacts#odd">On-Demand Deliverable</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>