  <%- include('partials/htmlHeader') %>

  <!-- ------------------------------------------------------------- -->
  <!-- Warning Banner -->
  <div id="csatReminderBanner" name="CSAT Survey Reminder" class="csat">
    <img src="images/abort-gray_700.svg">
    <button role="button" type="button" class="btn btn--primary btn--error">Take Survey!</button>
    <p>CSAT Survey is arriving on: Friday, April 24, 2020. Please submit ASAP!</p>
  </div>

  <!-- Main Body -->
  <div class="layout is-flex has-islands">

    <!-- ------------------------------------------------------------- -->
    <!-- Tenant Information -->
    <div class="island tenant-info">
      <h2>Tenant Statistics</h2>
      <div class="section theme--blue scrollable">
        <table id="tenantInformationTable" class="table table--expandable" data-behavior="accordion">
          <thead>
            <th>Environment</th>
            <th class="mobile">Version</th>
            <th>Hosts</th>
            <th>Apps</th>
            <th>Synthetics</th>
            <th>Users</th>
          </thead>
          <tbody class="expandable">
            <tr>
              <td class="noLeftPad"><a href="#" class="expandable__trigger">PROD</a></td>
              <td class="mobile">1.187</td>
              <td>68</td>
              <td>90</td>
              <td>110</td>
              <td>70</td>
            </tr>
            <tr class="expandable__content">
              <td colspan="6">
                <dl class="definition-list">
                  <dt class="desktop">Version</dt>
                  <dd>1.187</dd>
                  <dt>URL</dt>
                  <dd><a href="xxx12345.live.dynatrace.com">xxx12345.live.dynatrace.com</a></dd>
                  <dt>Host Units</dt>
                  <dd>132/150</dd>
                  <dt>DEM Units</dt>
                  <dd>850k/1.2M</dd>
                  <dt>Custom Metrics</dt>
                  <dd>30k/55k</dd>
                  <dt>Integrations</dt>
                  <dd>AWS, VMWare</dd>
                  <dt>Plugins</dt>
                  <dd>IBM MQ, F5</dd>
                </dl>
              </td>
            </tr>
          </tbody>
          <tbody class="expandable">
            <tr>
              <td class="noLeftPad"><a href="#" class="expandable__trigger">QA</a></td>
              <td class="mobile">1.188</td>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr class="expandable__content">
              <td colspan="6">
                <dl class="definition-list">
                  <dt class="desktop">Version</dt>
                  <dd>1.188</dd>
                  <dt>URL</dt>
                  <dd><a href="xxx12345.live.dynatrace.com">xxx12345.live.dynatrace.com</a></dd>
                  <dt>Host Units</dt>
                  <dd>132/150</dd>
                  <dt>DEM Units</dt>
                  <dd>850k/1.2M</dd>
                  <dt>Custom Metrics</dt>
                  <dd>30k/55k</dd>
                  <dt>Integrations</dt>
                  <dd>Azure, Docker</dd>
                  <dt>Plugins</dt>
                  <dd>Datapower, Apigee Edge</dd>
                </dl>
              </td>
            </tr>
          </tbody>
          <tbody class="expandable">
            <tr>
              <td class="noLeftPad"><a href="#" class="expandable__trigger">DEV</a></td>
              <td class="mobile">1.189</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>30</td>
            </tr>
            <tr class="expandable__content">
              <td colspan="6">
                <dl class="definition-list">
                  <dt class="desktop">Version</dt>
                  <dd>1.189</dd>
                  <dt>URL</dt>
                  <dd><a href="xxx12345.live.dynatrace.com">xxx12345.live.dynatrace.com</a></dd>
                  <dt>Host Units</dt>
                  <dd>132/150</dd>
                  <dt>DEM Units</dt>
                  <dd>850k/1.2M</dd>
                  <dt>Custom Metrics</dt>
                  <dd>30k/55k</dd>
                  <dt>Integrations</dt>
                  <dd>Kubernetes, Cloud Foundry</dd>
                  <dt>Plugins</dt>
                  <dd>SAP ABAP, Juniper Networks</dd>
                </dl>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- ------------------------------------------------------------- -->
    <!-- Support Tickets -->
    <div class="island">
      <h2>Support Tickets</h2>
      <div id="support-tickets-chart"></div>
        <script type="text/javascript">
          new Chartkick.ColumnChart("support-tickets-chart", [["Q1 (Jan-Mar)","9.0"],["Q2 (Apr-Jun)","9.0"],["Q3 (Jul-Sep)","8.0"],["Q4 (Oct-Dec)","5.0"]], {"legend":false, "label": "Support Tickets", "colors": ["#1496ff"]});
        </script>
    </div>
  
    <!-- ------------------------------------------------------------- -->
    <!-- ROI -->
    <div class="island">
      <h2>ROI</h2>
      <div id="roi-chart"></div>
      <script type="text/javascript">
        let data = [
          {name: "Value Events", data: {"Q1 (Jan-Mar)": 3, "Q2 (Apr-Jun)": 4, "Q3 (Jul-Sep)": 10, "Q4 (Oct-Dec)": 1}, stack: "VE"},
          {name: "Quick Wins", data: {"Q1 (Jan-Mar)": 1, "Q2 (Apr-Jun)": 8, "Q3 (Jul-Sep)": 7, "Q4 (Oct-Dec)": 4}, stack: "QW"},
          {name: "Questions Answered", data: {"Q1 (Jan-Mar)": 3, "Q2 (Apr-Jun)": 4, "Q3 (Jul-Sep)": 10, "Q4 (Oct-Dec)": 8}, stack: "QA"},
          {name: "Value Victorys", data: {"Q1 (Jan-Mar)": 1, "Q2 (Apr-Jun)": 8, "Q3 (Jul-Sep)": 3, "Q4 (Oct-Dec)": 1}, stack: "VV"}
        ];
        new Chartkick.ColumnChart("roi-chart", data, {"legend":true, "colors": ["#1496ff", "#73be28", "#6f2da8", "#B5DD00"]});
      </script>
    </div>
  
    <!-- ------------------------------------------------------------- -->
    <!-- Users Accessing Dynatrace -->
    <div class="island">
      <h2>Users Accessing DT</h2>
      <div id="users-chart"></div>
        <script type="text/javascript">
          new Chartkick.LineChart("users-chart", [["Q1 (Jan-Mar)","9.0"],["Q2 (Apr-Jun)","20"],["Q3 (Jul-Sep)","60"],["Q4 (Oct-Dec)","212"]], {"legend":false, "label": "Users", "colors": ["#6f2da8"]});
        </script>
    </div>

    <!-- ------------------------------------------------------------- -->
    <!-- Dynatrace University -->
    <div class="island">
      <h2>Dynatrace University</h2>
      <div id="dtu-chart"></div>
      <script type="text/javascript">
        let dtudata = [
          {name: "Videos", data: {"Q1 (Jan-Mar)": 10, "Q2 (Apr-Jun)": 20, "Q3 (Jul-Sep)": 40, "Q4 (Oct-Dec)": 30}, stack: "videos"},
          {name: "Certifications", data: {"Q1 (Jan-Mar)": 1, "Q2 (Apr-Jun)": 3, "Q3 (Jul-Sep)": 8, "Q4 (Oct-Dec)": 7}, stack: "certs"}
        ];
        new Chartkick.ColumnChart("dtu-chart", dtudata, {"legend":true, "colors": ["#1496ff", "#73be28", "#6f2da8", "#B5DD00"]});          
      </script>
    </div>

    <!-- ------------------------------------------------------------- -->
    <!-- Users Trained -->
    <div class="island">
      <h2>Users Trained</h2>
      <div id="users-trained-chart"></div>
      <script type="text/javascript">
        let utdata = [
          {name: "On-Site", data: {"Application Teams": 30, "Operations": 4, "Network": 10, "Executives": 1}, stack: "onsite"},
          {name: "D1", data: {"Application Teams": 10, "Operations": 8, "Network": 7, "Executives": 4}, stack: "d1"},
          {name: "vILT", data: {"Application Teams": 30, "Operations": 4, "Network": 10, "Executives": 8}, stack: "vilt"}
        ];
        new Chartkick.ColumnChart("users-trained-chart", utdata, {"legend":true, "colors": ["#1496ff", "#73be28", "#6f2da8", "#B5DD00"]});
      </script>
    </div>

    <!-- ------------------------------------------------------------- -->
    <!-- Services Engagements -->
    <div class="island">
      <h2>Services Engagements</h2>
      <div style="display:grid;grid-template-columns: 50% 50%;grid-template-rows: 100%;">
        <div style="grid-column-start: 1;grid-column-end:1;grid-row-start:1;grid-row-end:1;">
          <canvas id="se-chart"></canvas>
          <h3 class="gauge-chart">6 Months</h3>
          <script type="text/javascript">
            let sectx = document.getElementById('se-chart').getContext('2d');
            let sechart = new Chart(sectx, {
              type: 'doughnut',
              data: {
                labels: ["Services"],
                datasets: [{
                  label: "Test",
                  backgroundColor: ['#14a8f5'],
                  data: [75, 25]
                }],
              },
              options: {
                circumference: 1 * Math.PI,
                rotation: 1 * Math.PI
              }
            });
          </script>
        </div>
        <div style="grid-column-start: 2;grid-column-end:2;grid-row-start:1;grid-row-end:1;">
          <canvas id="sa-chart"></canvas>
          <h3 class="gauge-chart">12 Months</h3>
          <script type="text/javascript">
            let sactx = document.getElementById('sa-chart').getContext('2d');
            let sachart = new Chart(sactx, {
              type: 'doughnut',
              data: {
                labels: ["Insights"],
                datasets: [{
                  label: "Test",
                  backgroundColor: ['#14a8f5'],
                  data: [75, 25]
                }],
              },
              options: {
                circumference: 1 * Math.PI,
                rotation: 1 * Math.PI
              }
            });
          </script>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------- -->
    <!-- Engagement Goals -->
    <div class="island">
      <h2>Engagement Goals</h2>
      <canvas id="engagement-goals-chart"></canvas>
        <script type="text/javascript">
          let ggc = document.getElementById('engagement-goals-chart');
          let ggChart = new Chart(ggc, {
            type: 'radar',
            data: {
              labels: ['Goal 1', 'Goal 2', 'Goal 3', 'Goal 4', 'Goal 5'],
              datasets: [{
                label: '% Complete',
                data: [30, 10, 100, 60, 70],
                backgroundColor: 'rgba(111, 45, 168, 0.5)'
              }]
            },
            options: {
              "legend":false, 
              "scale": {
                ticks: {
                  suggestedMin: 0,
                  suggestedMas: 100
                }
              }
            }
          });
        </script>
    </div><!-- End of Engagement Goals -->
  </div><!-- End of Main Body-->

  <%- include('partials/htmlFooter') %>