.content dl dt{
  padding-left: 5px;
}
.content dl dd {
  padding-right: 5px;
}
.rodrigo h4 {
  margin-top: 0 !important;
}
.rodrigo h3 {
  margin-top: 0.8rem;
}
.rodrigo h2 {
  margin-top: 0.8rem;
}
.rodrigo .inputfield {
  margin-bottom: 0.8rem;
}
.pagination {
  margin-top: 0.8rem;
}

.tag.selected {
  background-color: #14a8f5;
  color: white;
  border-color: white !important;
}
.tag.selected:hover {
  background-color: #004999;
  color: white !important;
}
.tag:hover {
  box-shadow: 0 0 0 2px #ccc;
  border-color: #ccc !important;
}

