body {
    background-color: rgb(58,58,58);
    min-width: 415px;
}
table {
    margin-bottom: 0 !important;
}
dd {
    padding-bottom: 0 !important;
}
dl div {
    padding-top: 10px;
}
p {
    margin-bottom: 0 !important;
}
th:hover {
    cursor: pointer;
}
/* field {
    max-width: 850px;
} */
.scrollable {
    max-height: 450px !important;
    overflow: auto;
}
.noLeftPad {
    padding-left: 0 !important;
}
.contract-duration {
    padding-top: 10px;
    padding-bottom: 5px;
}
.engagement-progress {
    color: #fff !important;
    padding-right: 24px;
}
.label--progressbar {
    font-size: 1em !important;
    font-weight: 400 !important;
}
.progressbar {
    height: 5px !important;
}
.align-right {
    text-align: right !important;
}
.expandable__content td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.ascending:before {
    display: initial !important;
    content: " ";
    position: absolute;
    background-image: url(../images/dropdownasc-gray_900.png);
    background-size: 1em;
    width: 40px;
    height: 5px !important;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
}
.descending:before {
    display: initial !important;
    content: " ";
    position: absolute;
    background-image: url(../images/dropdowndesc-gray_900.png);
    background-size: 1em;
    width: 40px;
    height: 5px !important;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
}
.dark-bg .ascending:before {
    background-image: url(../images/dropdownasc-white.png);
    background-color: transparent;
}
.dark-bg .descending:before {
    background-image: url(../images/dropdowndesc-white.png);
    background-color: transparent;
}
.subnav__item dl {
    padding: 10px;
}
.in-block {
    display: inline-block !important;
}
.dark-body {
    background-color: black;
}
.dark-bg {
    background-color: rgb(58,58,58) !important;
    color: white !important;
}
.dark-bg dt {
    color: white !important;
}
.dark-bg .label--progressbar {
    color: white;
}
.dark-bg dd {
    text-shadow: 
        1px 2px 2px rgb(58,58,58), 
        2px 2px 2px rgb(58,58,58), 
        3px 2px 2px rgb(58,58,58), 
        4px 2px 2px rgb(58,58,58), 
        5px 2px 2px rgb(58,58,58), 
        6px 2px 2px rgb(58,58,58), 
        -1px 2px 1px rgb(58,58,58), 
        -2px 2px 1px rgb(58,58,58), 
        -3px 2px 2px rgb(58,58,58), 
        -4px 2px 2px rgb(58,58,58), 
        -5px 2px 2px rgb(58,58,58), 
        -6px 2px 2px rgb(58,58,58) !important;
}
.dark-bg .table--expandable tbody:nth-child(2n + 1) tr:first-child {
    background-color: black !important;
}
.customer td, .customer a {
    background-color: #006bba !important;
}
.customerDetails {
    color: #e6e6e6 !important;
    font-size: 16px;
}
.customerDetails:hover {
    color: white !important;
}
.customerDetails:before {
    background-image: url("//assets.dynatrace.com/groundhog/v6.1.2/assets/images/icons/dropdown_open-white.svg") !important;
}
.cust-dl {
    background-color: #006bba !important;
}
.cust-dl dd {
    text-shadow: 
        1px 2px 2px #006BBA, 
        2px 2px 2px #006BBA, 
        3px 2px 2px #006BBA, 
        4px 2px 2px #006BBA, 
        5px 2px 2px #006BBA, 
        6px 2px 2px #006BBA, 
        -1px 2px 1px #006BBA, 
        -2px 2px 1px #006BBA, 
        -3px 2px 2px #006BBA, 
        -4px 2px 2px #006BBA, 
        -5px 2px 2px #006BBA, 
        -6px 2px 2px #006BBA !important;
}
.cust-dl dd, .cust-dl dt {
    color: white !important;
}
.switch__label:after {
    background-color: white !important;
    box-shadow: 0px 0px 0px 1px;
}
.switch__label:before {
    background-color: white !important;
    border-color: white !important;
}
.switch__caption {
    color: white;
}
.switch:checked + .switch__label:after {
    background-color: black !important;
}
.display {
    display: auto !important;
}
.none {
    display: none !important;
}
.white-bg {
    background-color: #fff;
}
.env-button {
    border: 1px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-family: "BerninaSans", "Open Sans", sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 100px;
}
.overflow-ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #004999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {
    text-decoration: none;
    color: white;
    background-color: #4556d7;
}
.dropdown:hover .drop-content {
    display: block;
}
.breadcrumbs {
    overflow: visible !important;
}
.breadcrumbs__last__parent {
    width: 100vw !important;
}
.envButton {
    text-align:center;
    width:200px;
    padding-right:15px;
}
.infochip .infochip__icon .icon {
    height: 80px;
    width: 80px;
}
.infochip {
    margin-bottom:20px;
}
.content dl dt{
    padding-left: 5px;
}
.content dl dd {
    padding-right: 5px;
}
.rodrigo h4 {
    margin-top: 0 !important;
}
.rodrigo h3 {
    margin-top: 0.8rem;
}
.rodrigo h2 {
    margin-top: 0.8rem;
}
.rodrigo .inputfield {
    margin-bottom: 0.8rem;
}
.pagination {
    margin-top: 0.8rem;
}
.doc-repo-buttons {
    margin: auto;
}
.datepicker, .datepicker button {
    color: #14a8f5 !important;
}
.csat {
    display: flex;
    flex-direction: row-reverse;
    background-color: #e6be00;
    align-items: center;
}
.csat button, .csat p {
    margin: 5px 10px;
}
.csat img {
    height: 30px;
}
.csat p {
    font-weight: bold;
}
/* .csat img:hover {
    
} */
.tenant-info {
    flex: 100% !important;
}
[id*="chart"] {
    min-height: 250px;
}
#se-chart, #sa-chart {
    min-height: 100px !important;
}

#csatReminderBanner img:hover {
    cursor: pointer;
}
.gauge-chart {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}
#reportrange {
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #14a8f5;
}
.applyBtn, .cancelBtn {
    line-height: 25px !important;
    border-color: #14a8f5 !important;
}
.warning {
    color: red; 
    font-weight: bold;
}
.chartjs-size-monitor + h2 {
    margin-top: 0 !important;
}

/* Desktop */
@media screen and (max-width: 700px) {
    .mobile {
        display: none !important;
    }
}
/* Desktop */
@media screen and (max-width: 900px) {
    .landscape {
        display: none !important;
    }
}
/* Mobile */
@media screen and (min-width: 700px) {
    .desktop {
        display: none !important;
    }
}
/* Mobile */
@media screen and (min-width: 900px) {
    .no-landscape {
        display: none !important;
    }
}